.state-draft {
    background-color: #FFD700 !important; /* Gold for draft */
}

.state-confirmed {
    background-color: #32CD32 !important; /* LimeGreen for confirmed */
}

.state-done {
    background-color: #1E90FF !important;
}

.state-cancel {
    background-color: #FF6347 !important;
}